<div id="page" align="center">
  <div id="toppage" align="center">
    <div id="date">
      <div class="smalltext" style="padding:13px;"><strong><%=Time.now.strftime("%B %d, %Y")%></strong></div>
    </div>
    <div id="topbar">
      <div align="right" style="padding:12px;" class="smallwhitetext"><%=link_to "Home", root_url%> | <a href="#">Sitemap</a> | <a href="#">Contact Us</a></div>
    </div>
  </div>
  <div id="header" align="center">
    <div class="titletext" id="logo">
      <div class="logotext" style="margin:30px">Mu<span class="orangelogotext">$</span>ic</div>
    </div>
    <div id="pagetitle">
      <div id="title" class="titletext" align="right">Welcome to muSic!</div>
    </div>
  </div>
  <div id="content" align="center">
    <div id="menu" align="right">
      <div align="right" style="width:189px; height:8px;"><img src="/images/mnu_topshadow.gif" width="189" height="8" alt="mnutopshadow" /></div>
      <div id="mainMenu" class="linksmenu" align="center">
        <%if false  #dunno what to put here yet %>
          <%= link_to "Playing Now >>  ", "javascript:;", :title=>"Artists", :onclick => "$('#playingNow').toggle('fast');", :style => "text-align: right" %>
          <div id="playingNow" style="display:none">
            <%= link_to "Playing Now", "javascript:;", :title=>"Artists" %>
            <%= link_to "Playing Now", "javascript:;", :title=>"Artists" %>
          </div>
        <% end %>
        <%= link_to "Search", "javascript:;", :onclick => "$('#searchText').toggle(); $('#search_keyword').focus();", :style => "text-align: center" %>
        <div id="searchText" style="display:block">
          <form action="javascript:;" onsubmit="loadSearchResults('#search_keyword', '#search_results'); return false;">
            <input type="text" name="search_keyword" id="search_keyword" />
          </form>
        </div>
        <div id="search_results" style="display:block">
        </div>
      </div>
      <div align="right" style="width:189px; height:8px;"><img src="/images/mnu_bottomshadow.gif" width="189" height="8" alt="mnubottomshadow" /></div>
    </div>
    <div id="contenttext">
      <div class="bodytext" style="padding:12px;" align="justify">
        <%= %w(nowArtistId nowAlbumId nowSongId).collect{|id| hidden_field_tag(id)}.join(" ") %>
        <%=check_box_tag 'stickyArtist',"",false, :onclick => "toggleSticky(this);"%><strong>Artist: </strong><span id="nowArtist"></span><br />
        <%=check_box_tag 'stickyAlbum',"",false, :onclick => "toggleSticky(this);"%><strong>Album: </strong><span id="nowAlbum"></span><br />
        <%=check_box_tag 'stickySong',"",false, :onclick => "toggleSticky(this);"%><strong>Song: </strong><span id="nowSong"></span><br />
        <%= link_to "Click To Copy Song Url", "javascript:;", :id => "copyDirectLink" %>  (<%=link_to "Show", "javascript:;", :onclick => "$('#nowDirectLinkDiv').toggle('fast'); $(this).html($(this).html() == 'Show' ? 'Hide' : 'Show')"%>)<br />
        <div id="nowDirectLinkDiv" style="display:none"><br /><strong>URL: </strong><span id="nowDirectLink"></span></div>
        <br />
        <embed src="/niftyplayer.swf" quality=high bgcolor=#FFFFFF
        width="165" height="37" name="nplayer" align=""
        type="application/x-shockwave-flash" swLiveConnect="true"
        pluginspage="http://www.macromedia.com/go/getflashplayer">
        </embed> <br />
        <%= link_to "<< Prev", "javascript:;", :onclick => "previousSong();" %> |
        <%= link_to "Next >>", "javascript:;", :onclick => "nextSong();" %> <%=image_tag "question-mark.gif", :title => "HotKey: HotKeys:\n Next: d or n\n Prev: a or N\n Play/Pause: p or space", :onclick => "alert('HotKeys:\\n Next: d or n\\n Prev: a or N\\n Play/Pause: p or space');"%> |
        <%#= link_to "Delete and Next Random", "javascript:;", :onclick => "nextSong(1);" %>
        <%= link_to "Locate Song", "javascript:;", :onclick => "locateSong();" %>&nbsp;|&nbsp;
        <%= link_to "Help", "javascript:;", :onclick => "$('#helpDiv').toggle('fast');" %>
        <div id="helpDiv" style="display:none;">
          <ul>
            <li>Direct Link gives the url for the currently playing song. Right click and copy link to share with others</li>
            <li>Link to the currently playing song can also be copied to the clipboard by simply clicking the icon next to Direct Link</li>
            <li>There are several shortcuts to navigate playing songs. (n / d) play the next random song, (a / N) play the previous song, (space / p) toggle pause/play </li>
            <li>You can search the entire list of available songs by using the search feature.</li>
            <li>Checking checkboxes next to Artists / Album and Song will lock artist/album/song to the one thats selected. Next songs that play will be only from that Artist/Album/Song. </li>
          </ul>
        </div>
      </div>
      <div id="previousPanel" style="display:none">
        <div id="nowPrevious"></div>
        <div id="maxPrevious"></div>
      </div>
      <div class="panel browse_artists" align="justify" style="">
        Select Artist:
        <%- form_tag "#",
          :onsubmit => "$('#artistsMenu').hide('fast'); $('#songsMenu').hide('fast'); $('#artist_name').val() == '' ? $('#albumsMenu').hide('fast') : loadSubPanel('#albumsMenu', '/get_albums?'+$(this).serialize(), false); return false;",
          :id => "artist_name_form", :style => "display: inline;" do -%>
          <%= text_field_tag "artist_name", nil, :size => "30" %>
        <%- end -%>  -- OR -- Select Alphabet:
        <%= select_tag "artist_alphabet", options_for_select(["", "All", "#"]+("A".."Z").to_a),
          :onchange => "$('#albumsMenu').hide('fast'); $('#songsMenu').hide('fast'); $(this).val() == '' ? $('#artistsMenu').hide('fast') : loadSubPanel('#artistsMenu', '/get_artists'+($(this).val() == 'All' ? '' : '?'+$(this).serialize()), false)" %>
      </div>
      <%= render :partial => "panel", :locals => {:div_id => "artistsMenu", :title => "Artists"}  %>
      <%= render :partial => "panel", :locals => {:div_id => "albumsMenu", :title => "Albums"}  %>
      <%= render :partial => "panel", :locals => {:div_id => "songsMenu", :title => "Songs"}  %>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        <%if @song%> setTimeout( "playSong(<%=get_escaped_json(@song.web_info)%>);", 1000); <%end%>
        setInterval("if( /finished|error|empty/.test( niftyplayer('nplayer').getState() )) nextSong();", 2000);

        $(document).keypress(function(event) {
          if( !(/search_keyword|artist_name/.test($(event.target).attr('id'))) ) {
            //console.log(event.which);
            //n . > d D  for next song
            if( /110|46|62|100|68/.test(event.which) )
              nextSong();
            //N , < a A  for prev song
            else if( /78|44|60|97|65/.test(event.which) )
              previousSong();
            //space, P, p   for togglePlay
            else if( /32|80|112/.test(event.which) )
              niftyplayer('nplayer').playToggle();
          }
        });
        $('a#copyDirectLink').zclip({
          path: '/ZeroClipboard.swf',
          copy: function(){
            return "http://"+document.location.host+$('#nowDirectLink a').attr('href');
          },
          afterCopy: function() {
            origText = $('#copyDirectLink').html();
            $('#copyDirectLink').html("Song Url Copied to Clipboard..");
            setTimeout("$('#copyDirectLink').html('"+origText+"')", 3000);
          }
        });
        $("#artist_name").autocomplete('<%= autocomplete_artists_path %>');
      });
</script>
  </div>

  <div id="footer" class="smallgraytext" align="center">
    <a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Products</a> | <a href="#">Our Services</a> | <a href="#">Contact Us</a><br />
    saGi loCal Mu$ic Repo &copy; <%=Time.now.year%><br />
    <a>Hosting Colombia</a><br />
  </div>
</div>
